# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# Data (si no quieres subir datasets grandes)
data/raw/*.csv
data/processed/*.csv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier
*.Zone.Identifier

# Environment
.env
*.log